@import 'reset';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-size: 16px;
  line-height: 120%;
}

.app {
  background-color: #141414;
  color: #e1e3e6;
  font-family: 'Roboto', serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}
