.container {
   flex: 1 1 auto;
   margin: 20px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
 }
 
 .sidebar_container {
   flex: 0 1 400px;
   padding: 20px;
   background-color: #222222;
   border: #555555 solid 1px;
   border-radius: 5px;
 }
 
 .body_container {
   flex: 1 1 auto;
   padding: 20px;
   background-color: #222222;
   border: #555555 solid 1px;
   border-radius: 5px;
   text-align: left;
 }
 