.stat_body {

}

.row {

   display: grid;
   grid-template-columns:repeat(7, 1fr);
   justify-content: stretch;
   gap: 10px;
   &:first-child {
      padding-bottom: 20px;
      color:rgba(0, 255, 85, 0.733);
   }

}

.col {
   padding-bottom: 5px;
   
}
